<div class="flex w-full justify-center text-xs">
  <div class="w-[210mm] h-[297mm] grid">
    <div class="p-6 pb-0 flex gap-6">
      <div>
        <img src="assets/imgs/avatar.jpg" class="object-cover w-40 aspect-square">
      </div>
      <div class="flex flex-col gap-2">
        <div class="font-bold text-xl">FRONTEND DEVELOPER</div>
        <div class="font-medium text-lg">Trịnh Hoàng Phúc</div>
        <div>{{ 'Email: hoangphuc01022002@gmail.com' }}</div>
        <div>{{ 'GitHub: https://github.com/phuc0201' }}</div>
        <div>Phone: 0328614013</div>
        <div>Date of birth: 02/01/2002</div>
      </div>
    </div>

    <!-- Main -->
    <div class="p-6">
      <!-- Objective Section -->
      <div class="mb-4">
        <div class="text-black uppercase font-bold mb-3 flex justify-between items-center gap-2">
          <div class="text-sm">OBJECTIVE</div>
          <span class="h-[1px] bg-black flex-1"></span>
        </div>
        <p class="text-xs">
          Passionate about programming and always eager to explore new technologies. I'm a quick self-learner with a
          solid foundation in front-end development, currently focused on sharpening my skills and contributing
          effectively to real-world projects.
        </p>
      </div>

      <div class="mb-4">
        <div class="text-black uppercase font-bold mb-3 flex justify-between items-center gap-2">
          <div class="text-sm uppercase">Education</div>
          <span class="h-[1px] bg-black flex-1"></span>
        </div>
        <div>
          <div class="flex justify-between items-start gap-5 mb-5">
            <div>
              2020 - 2024
            </div>
            <div class="flex-1">
              <div class="font-bold">Bachelor of Information Technology</div>
              <div>Ho Chi Minh City University of Technology and Education</div>
              <div>GPA: 3.0</div>
            </div>
          </div>
          <div class="flex justify-between items-start gap-14">
            <div>2024</div>
            <div class="flex-1 ml-0.5">
              <div class="font-bold">TOEIC Certificate</div>
              <div>IIG VIET NAM,HCMCity</div>
              <div>Total score: 560</div>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-4">
        <div class="text-black uppercase font-bold mb-3 flex justify-between items-center gap-2">
          <div class="text-sm uppercase">Technical skills</div>
          <span class="h-[1px] bg-black flex-1"></span>
        </div>
        <div class="">
          <div>
            <div class="mb-2 flex items-start gap-1">
              <span class="font-medium">Languages:</span>
              <span>C/C++, JavaScript, Typescript, Python</span>
            </div>
            <div class="mb-2 flex items-start gap-1">
              <div class="font-medium">Frontend:</div>
              <span>ReactJS, Vite, Angular, RxJS, NgRx, Tailwind CSS, Ant Design</span>
            </div>
            <div class="mb-2 flex items-start gap-1">
              <div class="font-medium">Backend:</div>
              <span>Node, ExpressJS, NestJS</span>
            </div>
          </div>

          <div>
            <div class="mb-2 flex items-start gap-1">
              <div class="font-medium">Database & Vector Store:</div>
              <span>MongoDB, MySQL, Qdrant, Firebase</span>
            </div>

            <div class="flex items-start gap-1">
              <div class="font-medium">Tools & Others:</div>
              <span>Git, GitHub, Postman</span>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-4">
        <div class="text-black uppercase font-bold mb-3 flex justify-between items-center gap-2">
          <div class="text-sm">WORK EXPERIENCE</div>
          <span class="h-[1px] bg-black flex-1"></span>
        </div>

        <div class="mb-4">
          <div class="flex justify-between mb-1">
            <h4 class="font-bold">APEC GLOBAL</h4>
            <span>11/2024 - 7/2025</span>
          </div>
          <div class="mb-4">
            <div class="text-xs mb-1">
              <span class="font-medium">Position: </span>
              <span>Fresher Frontend Developer</span>
            </div>
            <div class="text-xs mb-1">
              <span class="font-medium">Technologies: </span>
              <span>
                ReactJS, Vite, Tailwind CSS
              </span>
            </div>
            <div class="text-xs mb-1">
              <span class="font-medium">Responsibility: </span>
            </div>
            <ul class="list-disc pl-6 text-xs space-y-1">
              <li>
                Integrated APIs to display data and ensured smooth user interactions.
              </li>
              <li>
                Participated in code reviews and contributed to maintaining code quality.
              </li>
              <li>
                Worked closely with designers to implement responsive and pixel-perfect UI components.
              </li>
              <li>
                Optimized frontend performance by lazy loading components and minimizing re-renders.
              </li>
              <li>
                Collaborated with team members to ensure consistent user experience across pages.
              </li>
            </ul>
          </div>
        </div>

        <div class="mb-4">
          <div class="flex justify-between mb-1">
            <h4 class="font-bold uppercase">SOFTWARE TECHNOLOGY CENTER</h4>
            <span>10/2023 - 12/2023</span>
          </div>
          <div class="mb-4">
            <div class="text-xs mb-1">
              <span class="font-medium">Position: </span>
              <span>Intern Frontend Developer</span>
            </div>
            <div class="text-xs mb-1">
              <span class="font-medium">Technologies: </span>
              <span>
                Angular, Tailwind CSS, Ant Design
              </span>
            </div>
            <div class="text-xs mb-1">
              <span class="font-medium">Responsibility: </span>
            </div>
            <ul class="list-disc pl-6 text-xs space-y-1">
              <li>
                Converted Figma designs into responsive web pages
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="pt-6">
        <div class="text-black uppercase font-bold mb-3 flex justify-between items-center gap-2">
          <div class="text-sm">PROJECT</div>
          <span class="h-[1px] bg-black flex-1"></span>
        </div>
        <div class="mb-4">
          <div class="flex justify-between mb-1">
            <span class="font-bold">FOOD DELIVERY</span>
            <span>3/2024 - PRESENT</span>
          </div>
          <div class="text-xs mb-1">
            <span class="font-medium">Demo: </span>
            <span>gopfood.id.vn</span>
          </div>
          <div class="text-xs mb-1 flex items-end">
            <span class="font-medium mr-1">Source:</span>
            <span>https://github.com/orgs/GoPSystem/repositories</span>
          </div>
          <div class="text-xs mb-1">
            <span class="font-medium">Team size: </span>
            <span>2</span>
          </div>
          <div class="text-xs mb-1">
            <span class="font-medium">Position: </span>
            <span>Fullstack Developer</span>
          </div>
          <div class="text-xs mb-2">
            <span class="font-medium">Description: </span>
            <span>
              A multi-restaurant food delivery platform with location-based search, real-time order tracking, VNPay
              integration, and a smart chatbot for dish recommendations.
            </span>
          </div>
          <div class="text-xs mt-2 mb-1">
            <span class="font-medium">Technologies: </span>
            <span>
              Angular, RxJS, NgRx, Ant Design, TailwindCSS, NestJS, Python, MongoDB, Qdrant, Firebase
            </span>
          </div>
          <div class="text-xs mb-1">
            <span class="font-medium">Responsibility: </span>
          </div>
          <ul class="list-disc pl-6 text-xs space-y-1">
            <li>
              Took full ownership of the front-end development, implementing responsive UI and interactive user flows
              across the ordering and payment journeys.
            </li>
            <li>
              Integrated Goong Maps API to enable location-based restaurant discovery and real-time order
              tracking.
            </li>
            <li>
              Developed authentication flow with Google login.
            </li>
            <li>
              Implemented chatbot assistant using Qdrant for semantic search, allowing users to receive dish
              recommendations based on preferences.
            </li>
            <li>
              Contributed to backend APIs with NestJS and MongoDB, handling CRUD operations.
            </li>
            <li>
              Integrated VNPay payment gateway to enable seamless online transactions and automated order status
              updates.
            </li>
          </ul>
        </div>

        <div class="">
          <div class="flex justify-between mb-1">
            <span class="font-bold uppercase">ecommerce fashion shop</span>
            <span>5/2025 - 7/2025</span>
          </div>
          <div class="text-xs mb-1">
            <span class="font-medium">Demo: </span>
            <span>ecommerce-fstore.vercel.app</span>
          </div>
          <div class="text-xs mb-1 flex items-end">
            <span class="font-medium mr-1">Source:</span>
            <span>https://github.com/phuc0201/ecommerce-fstore</span>
          </div>
          <div class="text-xs mb-1">
            <span class="font-medium">Team size: </span>
            <span>2</span>
          </div>
          <div class="text-xs mb-1">
            <span class="font-medium">Position: </span>
            <span>Frontend Developer</span>
          </div>
          <div class="text-xs mb-2">
            <span class="font-medium">Description: </span>
            <span>
              An e-commerce website for a fashion retail brand, allowing users to
              browse products, manage their cart, place orders, and track purchases.
            </span>
          </div>
          <div class="text-xs mt-2 mb-1">
            <span class="font-medium">Technologies: </span>
            <span>
              ReactJS, Vite, Tailwind CSS
            </span>
          </div>
          <div class="text-xs mb-1">
            <span class="font-medium">Responsibility: </span>
          </div>
          <ul class="list-disc pl-6 text-xs space-y-1">
            <li>
              Designed and developed responsive user interfaces
            </li>
            <li>
              Integrated RESTful APIs to display dynamic data.
            </li>
            <li>
              Collaborated closely with backend developer to ensure accurate API integration and seamless frontend
              functionality.
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
