<main class="grid grid-cols-12 w-[210mm] max-w-[210mm] max-h-[594mm] overflow-hidden h-[594mm] mx-auto">
  <section class="p-5 col-span-4 bg-zinc-800">
    <img src="assets/imgs/avatar.jpg" alt=""
      class="w-full aspect-square overflow-hidden object-cover border-2 border-[#ecaa47]">

    <div class="py-6 text-zinc-300 grid gap-2 text-sm">
      <div><i class="fa-solid fa-envelope mr-5"></i> {{ 'phucth.dev.0201@gmail.com' }}</div>
      <div><i class="fa-brands fa-github mr-5"></i> {{ 'https://github.com/phuc0201' }}</div>
      <div><i class="fa-solid fa-phone mr-5"></i> 032 861 4013</div>
      <div><i class="fa-solid fa-cake-candles mr-5"></i> 02/01/2002</div>
    </div>

    <div class="text-zinc-300 text-sm">
      <h1 class="uppercase font-bold text-lg">skills</h1>

      <div class="pt-3 grid gap-2 text-sm">
        <div class="">
          <span class="font-medium">Languages: </span>
          <span class="italic">JavaScript, Typescript</span>
        </div>
        <div>
          <span class="font-medium">Frontend: </span>
          <span class="italic">Angular, ReactJS, RxJS, Tailwind CSS, Ant Design</span>
        </div>

        <div>
          <span class="font-medium">State-management: </span>
          <span class="italic">NgRx</span>
        </div>

        <div>
          <span class="font-medium">Backend: </span>
          <span class="italic">Node, NestJS, ExpressJS</span>
        </div>
        <div>
          <span class="font-medium">Database: </span>
          <span class="italic">MongoDB, MySQL, Firebase, Qdrant</span>
        </div>
        <div>
          <span class="font-medium">Tools & Others: </span>
          <span class="italic">Git, GitHub, Postman, Docker</span>
        </div>
      </div>
    </div>

    <div class="text-zinc-300 py-5">
      <h1 class="uppercase font-bold text-lg">Education</h1>
      <div class="pt-3">
        <div class="text-sm font-medium">
          <i class="fa-solid fa-graduation-cap mr-2 "></i>
          Information Technology
        </div>
        <div class="text-sm">( 2020 - 2024 )</div>
        <div class="italic text-xs mt-2">
          Ho Chi Minh City University of Technology and Education
        </div>
        <div class="italic text-xs mt-2">
          GPA: 3.0 / 4.0
        </div>
      </div>

      <div class="pt-3">
        <div class="text-sm font-medium">
          <i class="fa-solid fa-graduation-cap mr-2"></i>
          TOEIC Certificate
        </div>
        <div class="italic text-xs mt-1">Score: 560
        </div>
      </div>
    </div>
  </section>
  <section class="col-span-8 p-6 flex flex-col gap-5">
    <div class="uppercase text-xl font-bold">
      <h1>Trịnh Hoàng Phúc</h1>
      <h1>FRONTEND DEVELOPER INTERN</h1>
    </div>

    <div class="mb-4">
      <div class="text-[#ec8f00] uppercase font-bold mb-1 flex justify-between items-center gap-2">
        <div class="text-sm">OBJECTIVE</div>
        <span class="h-[1px] bg-[#ec8f00] flex-1"></span>
      </div>
      <p class="text-sm">
        I am eager to apply for the Fullstack Intern position to gain hands-on experience, enhance my programming skills
        in both frontend and backend, and contribute meaningful value to the company’s projects.
      </p>
    </div>

    <div class="mb-4">
      <div class="text-[#ec8f00] uppercase font-bold mb-3 flex justify-between items-center gap-2">
        <div class="text-sm">WORK EXPERIENCE</div>
        <span class="h-[1px] bg-[#ec8f00] flex-1"></span>
      </div>

      <div class="mb-4">
        <div class="flex justify-between mb-2 items-center">
          <h4 class="font-bold">SOFTWARE TECHNOLOGY CENTER AT HCMUTE</h4>
          <span class="text-xs">9/2023 - 12/2023</span>
        </div>
        <div class="mb-4">
          <div class="text-sm mb-1">
            <span class="font-medium">Position: </span>
            <span>Frontend Developer Intern</span>
          </div>
          <div class="text-sm mb-2">
            <span class="font-medium">Description: </span>
            <span>
              Developed a web portal enabling students to access announcements, news, and event updates from the
              university.
            </span>
          </div>
          <div class="text-sm mt-2 mb-1">
            <span class="font-medium">Technologies: </span>
            <span>
              Angular, Tailwind CSS, Ant Design, RxJS
            </span>
          </div>
          <div class="text-sm mb-1">
            <span class="font-medium">Responsibility: </span>
          </div>
          <ul class="list-disc pl-6 text-sm space-y-1">
            <li>
              Converted Figma designs into responsive web pages
            </li>
            <li>
              Integrated RESTful APIs to fetch and display dynamic data, ensuring seamless interaction between
              frontend and backend.
            </li>
            <li>
              Collaborated with the development team to deliver features on time and maintain code quality and
              consistency.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="">
      <div class="text-[#ec8f00] uppercase font-bold mb-3 flex justify-between items-center gap-2">
        <div class="text-sm">PROJECT</div>
        <span class="h-[1px] bg-[#ec8f00] flex-1"></span>
      </div>
      <div class="mb-20">
        <div class="flex justify-between items-center mb-1">
          <span class="font-bold">FOOD DELIVERY</span>
          <span class="text-xs">3/2024 - 4/2025</span>
        </div>
        <div class="text-sm mb-1">
          <span class="font-medium">Demo: </span>
          <span>gopfood.id.vn</span>
        </div>
        <div class="text-sm mb-1 flex items-end">
          <span class="font-medium mr-1">Source:</span>
          <span>https://github.com/orgs/GoPSystem/repositories</span>
        </div>
        <div class="text-sm mb-1">
          <span class="font-medium">Team size: </span>
          <span>2</span>
        </div>
        <div class="text-sm mb-1">
          <span class="font-medium">Position: </span>
          <span>Fullstack Developer</span>
        </div>
        <div class="text-sm mb-2">
          <span class="font-medium">Description: </span>
          <span class="">
            A multi-restaurant food delivery platform with location-based search, real-time order tracking, VNPay
            integration, and a smart chatbot for dish recommendations.
          </span>
        </div>
        <div class="text-sm mt-2 mb-1">
          <span class="font-medium">Technologies: </span>
          <span>
            Angular, NestJS, Python, RxJS, NgRx, Ant Design, TailwindCSS, MongoDB, Qdrant, Firebase, Docker
          </span>
        </div>
        <div class="text-sm mb-1">
          <span class="font-medium">Responsibility: </span>
        </div>
        <ul class="list-disc pl-6 text-sm space-y-1">
          <li>
            Took full ownership of the front-end development, designing and implementing responsive UI components and
            smooth user interactions to enhance user experience across devices.
          </li>
          <li>
            Contributed to back-end development by implementing core features including CRUD operations for restaurant
            and menu management.
          </li>

          <li>
            Integrated VNPay payment gateway to enable secure and seamless online transactions.
          </li>

          <li>
            Developed Google login feature to provide users with a convenient and secure authentication option.
          </li>

          <li>
            Built an intelligent chatbot using Gemini to assist users in discovering dishes and answering common
            queries, improving customer support.
          </li>
        </ul>
      </div>

      <div class="pt-6">
        <div class="flex justify-between items-center mb-1">
          <span class="font-bold">UTE Food</span>
          <span class="text-xs">8/2023 - 10/2023</span>
        </div>
        <div class="text-sm mb-1 flex items-end">
          <span class="font-medium mr-1">Source:</span>
          <span>https://github.com/phuc0201/UTE-Food</span>
        </div>
        <div class="text-sm mb-1">
          <span class="font-medium">Team size: </span>
          <span>1</span>
        </div>
        <div class="text-sm mb-1">
          <span class="font-medium">Position: </span>
          <span>Fullstack Developer</span>
        </div>
        <div class="text-sm mb-2">
          <span class="font-medium">Description: </span>
          <span>
            An online food ordering website that allows users to easily place orders, while enabling
            restaurant owners to manage menus, orders, and revenue efficiently.
          </span>
        </div>
        <div class="text-sm mt-2 mb-1">
          <span class="font-medium">Technologies: </span>
          <span>
            ReactJS, Node, ExpressJS, MySQL, Firebase
          </span>
        </div>
        <div class="text-sm mb-1">
          <span class="font-medium">Responsibility: </span>
        </div>
        <ul class="list-disc pl-6 text-sm space-y-1">
          <li>Developed and maintained both frontend and backend of the online food ordering platform </li>
          <li>Designed and implemented RESTful APIs for restaurant and order management, including authentication and
            authorization.</li>
          <li>Built responsive user interfaces to ensure seamless user experience across devices.</li>
          <li>Implemented role-based access control for customers and restaurant owners.</li>
          <li>Optimized database schemas and queries for efficient data handling with MySQL</li>
        </ul>
      </div>
    </div>
  </section>
</main>